body {
  background-color: #fcfaee;
  margin: 0; 
  height: 100vh; 
}

.section {
  background-color: #b8011f;
}

/* styles.css */
@media (max-width: 768px) {
  
  .nav-links {
    display: none; /* Hide the nav links on mobile */
  }
}
